<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.1"/>
        <listEntry value="groupId=demo"/>
        <listEntry value="artifactId=N15_Karaoke"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=demo.N15_Karaoke"/>
        <listEntry value="outputDirectory=/Users/tranvanloi/Documents/N3.Học Kì 2/Lập trình phân tán với công nghệ Java/Bài tập nhóm"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/var/folders/b7/nz8b35cj6kd1xzt8z95dhhb00000gn/T/m2e-archetypeGenerator4523002101203153648"/>
</launchConfiguration>
