<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.1"/>
        <listEntry value="groupId=hhhh"/>
        <listEntry value="artifactId=hhhhhh"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=hhhh.hhhhhh"/>
        <listEntry value="outputDirectory=/Users/tranvanloi/Desktop"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/var/folders/b7/nz8b35cj6kd1xzt8z95dhhb00000gn/T/m2e-archetypeGenerator9272557752131347014"/>
</launchConfiguration>
